*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: "Alice", serif;
  position: relative;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

.transform {
  width: 30px;
  height: 30px;
  border: 2px solid pink;
  transform: rotate(40deg) translate(100px, 50px) scale(2);
}

.math {
  width: calc(30px + 4rem);
  height: min(calc(50% + 10vh), 90vh);
  border: 2px solid red;

  font-size: clamp(1rem, 10vw, 4rem);
  margin: 160px 10px 90px;
}

.filter {
  width: 50px;
  height: 50px;
  border: 2px solid red;
  background-color: aqua;
  filter: brightness(1) contrast(200) drop-shadow(1rem 1rem 1rem gray);
  margin: 90px 10px;
}

.shape {
  width: 50px;
  height: 50px;
  background-color: aqua;
  clip-path: circle();
  margin: 90px 10px;
}
